body {
  padding: none;
  margin: auto;
  background-color: black;
}

.skill_button {
  background-color: rgb(255, 0, 234); /* Green */
  /* border: none; */
  color: white;
  margin: 2% 10% 2% 10%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
#begin {
  display: none;
}

.main_container {
  background-color: rgba(.2, .2, .2, .9);
  padding: none;
  margin: auto;
  font-family: monospace;
  font-size: 32px;
  color: white;
}

#begin {
  position: relative;
}

#hello {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
  font-size: 48px;
}

a {
  color: pink;
}

.row {
  display: flex;
  padding: 0% 10% 0% 10%;
}

.col {
  flex: 1;
  /* additionally, equal width */
  position: relative;
}

.bottom-align {
  position: absolute;
  width: 80%;
  padding: none;
  margin: auto;
  bottom: 0%;
}

#face {
  background-image: url("assets/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text_container {
  padding: 5% 10% 5% 10%;
  position: relative;
  text-align: left;
}

.center {
  text-align: center;
}

img {
  max-width: 800px;
  padding: none;
}

.container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}