span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

span {
  border-right: .05em solid;
  animation: caret .75s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}